{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/restaurants.css') }}" /> 
{% endblock %}

{% block nav %}
<nav class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand"><a class="nav-link" href="{{ url_for('homepage') }}">
        <img src="{{ url_for('static',filename='images/ufood.png')}}" alt="ufood logo" width="50" height="50"></a>
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav navbar_options">
            <li class="nav-item"><a class="nav-link" href="">Customers</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('products',name=name) }}">Products</a></li>
            <li class="nav-item"><a class="nav-link" href="">Restaurants</a></li>
        </ul>
        <div class="form-inline">
            <input type="text" class="form-control mr-2 search_food" placeholder="Browse by cuisines">
            <button class="btn btn-info" type="submit">Search</button>
        </div>
        <a class="btns" href="{{ url_for('logout') }}">Logout</a>
    </div>
</nav>
{% endblock %}

{% block content %} 
<div id="Restaurants">
    <h2>Welcome {{ name }}</h2>
    <h2>Restaurant Locations</h2>
    <a class="addRestaurant_btn" href="{{ url_for('add_restaurant',name=name) }}">Add Restaurants</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Restaurant</th>
                <th>Location</th>
                <th>Operation Hours</th>
                <th>Telephone</th>
                <th>Hotline</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for data in datas %} 
            
            <tr>
                    
                    <td>{{ data[1] }}</td>
                    <td>{{ data[2] }}</td>
                    
                    
                    <td>From {{ data[3]|string }} to {{ data[4]|string }}</td>
                   
                    <td>{{ data[5] }}</td>
                    <td>{{ data[6] }}</td>
                    <td>
                        <a href="" id="edit_btn"><button type="button" class="btn btn-warning">Edit</button></a>
                        <a href="" id="del_btn"><button type="button" class="btn btn-danger">Delete</button></a>
                    </td>
               
                </th>
            </tr>
            {% endfor %}
         
         
        </tbody>
    </table>
</div>
{% endblock %}
