{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/staff_homepage.css') }}" /> 
{% endblock %}

{% block nav %}
    <nav class="navbar fixed-top navbar-expand-lg">
        <a class="navbar-brand"><a class="nav-link" href="{{ url_for('homepage') }}">
            <img src="{{ url_for('static',filename='images/ufood.png')}}" alt="ufood logo" width="50" height="50"></a>
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav navbar_options">
                <li class="nav-item"><a class="nav-link" href="">Customers</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('products',cuisine_type=duty,name=name) }}">Products</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('restaurants',cuisine_type=duty,name=name) }}">Restaurants</a></li>
            </ul>
            <div class="form-inline">
                <input type="text" class="form-control mr-2 search_food" placeholder="Browse by cuisines">
                <button class="btn btn-info" type="submit">Search</button>
            </div>
            <a class="btns" href="{{ url_for('logout') }}">Logout</a>
        </div>
    </nav>
{% endblock %}

{% block content %} 
<div id="container-fluid">
    <h1 class="welcome_msg">Welcome to our delivery service homepage!</h1>
    <div id="profile">
        <h1>Profile</h1>
        <p>Name: {{ name }}</p>
        <p>Staff ID: {{ staff_id }}</p>
        <p>Mobile: {{ mobile }}</p>
        <p>Email: {{ email }}</p>
  
    </div>
    

</div>
{% endblock %}